.register{
	width: 100%;
	height: 100vh;
}
.register-topbar{
	display: flex;
	justify-content: space-between;/*horizontal align*/
	align-items: center;/*vertical align*/
	width: 100%;
	height: 10vh;
	top: 0;
	background-color: aqua;
}
.logo{
	height: 8vh;
}
.register-nav{
	display: flex;
	align-items: center;
}
.register-nav p{
	margin-right: 10px;
}
.register-nav p:hover{
	cursor: pointer;
}